body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: white;
}

.profile-img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #343a40;
}

.btn-primary {
    background-color: #ff6600;
    border: none;
}

.btn-primary:hover {
    background-color: #e65c00;
}

footer {
    background-color: #343a40;
    color: rgb(157, 19, 19);
}
