/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #00d231;
    color: #333;
}

header {
    background-color: #343a40;
}

header h1 {
    font-size: 1.5rem;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    margin-left: 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #ffc107;
}

main {
    padding: 1.5rem 0;
}

main h2 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
    color: #feffff;
}

form {
    background: white;
    padding: 2rem;
    margin: auto;
    border-radius: 5px;
    width: 50%;
    position: relative;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form .form-group {
    margin-bottom: 1.5rem;
}

form .form-group label {
    font-weight: bold;
}

form .form-control {
    border-radius: 10px;
    width: 90%;
}

form .btn-primary {
    background-color: #ff6f00;
    border-color: #2eb402;
    transition: background-color 0.3s ease-in-out;
}

form .btn-primary:hover {
    background-color: #65b300;
    border-color: #0056b3;
}

/* Footer Styles */
footer {
    background-color: #343a40;
}

footer p {
    margin: 0;
    font-size: 0.9rem;
}

/* Responsive Styles */
@media (max-width: 576px) {
    header h1 {
        font-size: 1.25rem;
    }

    header nav ul li {
        margin-left: 10px;
    }
}